<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand" href="">

            </div>
        </div>
    </div>
</nav>

<div id="content" class="container">
    <form class="form-horizontal" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate name="form">
        <div class="col-xs-12 col-xs-offset-1 col-sm-offset-1 col-lg-offset-2">
            <div class="form-group row">
                <label for="username" class="col-xs-12 col-sm-3 control-label">Gebruikersnaam</label>
                <div class="col-xs-10 col-sm-5 col-lg-3">
                    <input [(ngModel)]="model.username" #username="ngModel" type="text" class="form-control" id="username" name="username" placeholder="Gebruikersnaam" required/>
                </div>
                <div *ngIf="f.submitted && !username.valid" class="help-block">Gebruikersnaam is verplicht</div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-xs-12 col-sm-3 control-label">Wachtwoord</label>
                <div class="col-xs-10 col-sm-5 col-lg-3">
                    <input [(ngModel)]="model.password" #password="ngModel" type="password" class="form-control" id="password" name="password" placeholder="Wachtwoord" required />
                </div>
                <div *ngIf="f.submitted && !password.valid" class="help-block">Wachtwoord is verplicht</div>
            </div>

            <div class="form-group row">
                <div class="col-xs-10 col-sm-offset-3">
                    <button class="btn btn-default" [disabled]="loading" >Inloggen</button>
                </div>
            </div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </div>
    </form>
</div>